@font-face {
  font-family: "Lilita One";
  src: url("/assets/fonts/LilitaOne.woff2") format("woff2"),
    url("/assets/fonts/LilitaOne.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
